.join-conversation-container {
  padding: 30px 0;
  background-color: #FBF7ED;
}

.user-join-conversation {
  text-align: center;
}

.user-join-conversation h1 {
  color: #004C3F;
  font-size: 36px;
}

.user-join-conversation p {
  color: #6B7177;
  padding: 10px 0;
}

.user-join-conversation a {
  padding: 10px 30px;
  margin: 0 3px;
  font-weight: 600;
  color: #fff;
  background-color: #008060;
  border: none;
  box-shadow: 0 5px 15px 0 rgb(0, 0, 0, 0.26);
  border-radius: 4px;
  transition: all 0.3s ease;
}


