{{#unless hideLoggedIn}}
<section class="join-conversation-container custom-container wrap">
  <div class="user-join-conversation shopify-container">
    <h1>{{html-safe (theme-i18n "meta_banner.main")}}</h1>
    <p>{{html-safe (theme-i18n "meta_banner.subtitle")}}</p>
    <div class="cta-container">    
      <a class="lia-link-navigation registration-link lia-component-users-action-registration" rel="nofollow" href="/signup">Register</a>
      <a class="lia-link-navigation login-link lia-authentication-link lia-component-users-action-login" rel="nofollow" href="/login">Log in</a>
    </div>
  </div>
</section>
{{/unless}}